@media (max-width: 575.98px) { 



.container{
  padding: 0 20px;
}

.banner-text h3 {
	font-size: 15px;
	font-weight: 700;
	font-family: "Manrope", sans-serif;
	line-height: 25px;
	width: 100%;
	margin-top: 15px;
}

.banner-text p {
	font-size: 10px;
	margin-top: 10px;
}

#banner {
	padding-top: 110px;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding-left: 0;
	padding-right: 0;
}
.banner-text button a {
	font-size: 10px;
}
.for button a {
	font-size: 10px;
}
.for h3 {
	font-weight: 800;
	font-size: 12px;
	color: #183354;
	font-family: "Manrope", sans-serif;
	line-height: 17px;
	width: 310px;
	margin-top: 20px;
}
.for p {
	font-size: 10px;
}
img, svg {
	margin-top: 10px;
}
.technology img{
  width: 460px;
  margin-right: 50px;
}
.explor-wrapper h3 {
	font-size: 20px;
}
img, svg {
	margin-bottom: 10px;
}
img, svg {
	margin-bottom: 10px;
}
.okey img{
  width: 475px;
}
.button-two button a {
	padding: 0px 15px 5px 12px;
	font-size: 11px;
}
.tumi {
	margin-left: 125px;
}
.ami {
  margin-left: 125px;
}
.user h5 {
	padding-top: 15px;
	font-size: 15px;
	line-height: 23px;
}
.user p {
	font-size: 10px;
	padding-top: 10px;
}
.user-middle h4 {
	font-size: 18px;
	line-height: 20px;
	width: 539.6px;
	padding-top: 10px;
}
.user-middle p {
	font-size: 10px;
	padding-top: 10px;
	width: 525px;
}
.user-middle h6 {
	font-size: 13px;
	line-height: 20px;
	width: 520.9px;
}
.user-middle {
	position: relative;
	margin-top: 0;
}
.user-middle img{
  position: relative;
  width: 530px;
}
.button-four {
	position: absolute;
	content: '';
	left: 230px;
	top: 349px;
}
.rosse {
	position: absolute;
	content: '';
	left: 40%;
	top: 5px;
}
.known {
	background-color: #D0D0D0;
	padding-top: 185px;
	padding-bottom: 27px;
	margin-top: 20px;
	border-radius: 6px;
}
.rosse img{
	width: 115px;
}
.known p {
	line-height: 20px;
}


 }